.new-tweet {
  display: flex;
  width: 100%;
}
.new-tweet form {
  flex-direction: column;
  width: 100%;
  padding-top: 1.5em;
}

/* .new-tweet input {
  background-color: transparent;
  border: 0;
  line-height: 2em;
  border-bottom: 2px solid black;
  width: 100%;
} */

.new-tweet textarea {
  background-color: transparent;
  border: 0;
  line-height: .7em;
  border-bottom: 4px solid #545149;
  width: 100%;
}

.new-tweet div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: .7em;
}

.new-tweet button {
  font-family: Bungee, Sans-Serif;
  font-size: 24px; 
  color: white;
  background-color: #4056A1;
}

.new-tweet output {
  font-family: Bungee, Sans-Serif;

}

.error {
  background-color: lightcoral;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 1em;
  border-radius: 25px;
  display: none;
}

.error span {
  align-self:  center;
  text-align: center;
  color: white;
}